[user]
  name = Daniel D. ZHANG
  email = zhangdanyangg@gmail.com

[filter "media"]
  clean = git-media-clean %f
  smudge = git-media-smudge
[core]
  excludesfile = ~/.gitignore
  # http://stackoverflow.com/questions/2517190/how-do-i-force-git-to-use-lf-instead-of-crlf-under-windows
  autocrlf = false
  eol = lf
  pager = less -+$LESS -RSX
[color]
  ui = true
[init]
	defaultBranch = main
[push]
	default = current
