'atom-workspace atom-text-editor:not([mini])':
  'ctrl-x d': 'editor:duplicate-lines'
  'ctrl-alt-r': 'refactor:rename'
  'cmd-l': 'outline-view:toggle'
  '': 'editor:select-line'

'.platform-darwin atom-workspace':
  'ctrl-alt-s': 'file:open-alternate'

'body':
  'ctrl-x ctrl-1': 'pane:close-other-items'

'.platform-darwin, .platform-win32, .platform-linux':
  'alt-g g': 'go-to-line:toggle'
